body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.light-mode {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text color */
}

.dark-mode {
  background-color: #212529; /* Dark background */
  color: #ffffff; /* Light text color */
}
.custom-toggle-btn {
  background-color: #343a40; /* Grigio scuro */
  color: white;
  border: none;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
}
.custom-toggle-btn.active {
  background-color: #000000; /* Nero */
}
.btnCarrello {
  background-color: #343a40; /* Grigio scuro */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
}
.light-mode .products-title {
  color: #000000; /* Nero in modalità chiara */
}
.light-mode .profile-page {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode .profile-page {
  color: #ffffff; /* Bianco in modalità scura */
}

.light-mode .profile-card .card-title,
.light-mode .order-card .card-title,
.light-mode .cart-card .card-title {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode .profile-card .card-title,
.dark-mode .order-card .card-title,
.dark-mode .cart-card .card-title {
  color: #ffffff; /* Bianco in modalità scura */
}

.light-mode .arrow-icon {
  color: #000000; /* Nero in modalità chiara */
}
/* Colore generale del testo */
.light-mode {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode {
  color: #ffffff; /* Bianco in modalità scura */
}

/* Specifico per le card */
.light-mode .card {
  background-color: #ffffff; /* Sfondo bianco */
  color: #000000; /* Testo nero */
}

.dark-mode .card {
  background-color: #343a40; /* Sfondo grigio scuro */
  color: #ffffff; /* Testo bianco */
}

/* Specifico per i titoli */
.light-mode .card-title,
.light-mode .products-title {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode .card-title,
.dark-mode .products-title {
  color: #ffffff; /* Bianco in modalità scura */
}

/* Specifico per le icone */
.light-mode .arrow-icon {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode .arrow-icon {
  color: #ffffff; /* Bianco in modalità scura */
}
.text-light {
  color: #f8f9fa; /* Colore chiaro per dark mode */
}

.text-muted {
  color: #6c757d; /* Colore scuro per light mode */
}

/* Pulsanti */
.btnCarrello {
  background-color: #212529; /* Nero */
  color: #ffffff; /* Bianco */
}

.btnCarrello:hover {
  background-color: #000000; /* Nero più scuro */
}

.dark-mode .arrow-icon {
  color: #ffffff; /* Bianco in modalità scura */
}

.dark-mode .products-title {
  color: #ffffff; /* Bianco in modalità scura */
}
.btnCarrello:hover {
  background-color: #000000; /* Nero */
}
.scroll-to-top-btn {
  background-color: #343a40; /* Grigio scuro */
  color: white;
}
.scroll-to-top-btn:hover {
  background-color: #000000; /* Nero */
}

.container-fluid {
  background-color: inherit; /* Inherit background color from body */
  color: inherit; /* Inherit text color from body */
}

/* Aggiungi queste classi per gestire il colore del testo "Checkout" */
.light-mode .checkout-title {
  color: #000000; /* Nero in modalità chiara */
}

.dark-mode .checkout-title {
  color: #ffffff; /* Bianco in modalità scura */
}

.theme-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: transform 0.3s ease-in-out;
  color: inherit;
}

.theme-button:hover {
  transform: rotate(20deg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #212529; /* Dark background */
  color: #ffffff; /* Light text color */
}

.header h1 {
  margin: 0;
}

.theme-toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1000;
}

.theme-toggle button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  color: #ffffff; /* Light text color */
}

.theme-toggle button:hover {
  transform: scale(1.2);
}

.theme-toggle button:focus {
  outline: none;
}

main {
  padding: 2rem;
  flex: 1;
}

.footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff; /* Default light mode */
  color: #000000; /* Dark text color */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Forza il cambiamento di colore quando il tema cambia */
footer.dark-mode .footer {
  background-color: #212529 !important;
  color: #ffffff !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  animation: fadeIn 0.5s ease-in-out;
}
.arrow-icon {
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card-img-top:hover{
  cursor: pointer;
}

.arrow-icon:hover {
  transform: translateY(-50%) scale(1.2);
}
.card {
  animation: slideIn 0.5s ease-in-out;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 1em 0;
  transition: transform 0.3s ease-in-out;
  color: inherit; /* Inherit text color */
  min-height: 150px; /* Adjust height to prevent text cutting */
  overflow: visible; /* Ensure text is not cut off */
  text-align: center;
  padding: 0px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.card-body {
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.shadow-lg card {
  border-radius: 50px;
}

.btnCarrello {
  background-color: #212529; /* Black background */
  border: none;
  color: #ffffff; /* White text color */
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #212529; /* Slightly lighter black */
}

.button-primary:focus {
  outline: none;
}

/* Aggiungi queste classi per gestire la sezione di login */
.light-mode .login-section {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text color */
}

.dark-mode .login-section {
  background-color: #212529; /* Dark background */
  color: #ffffff; /* Light text color */
}

/* Aggiungi questa classe per gestire il testo nero nella sezione di login in modalità dark mode */
.login-dark-text {
  color: #000000 !important; /* Black text color */
}

/* Aggiungi queste classi per gestire il testo nero nelle pagine OrderPage e SuccessPage in modalità dark mode */
.order-dark-text {
  color: #000000 !important; /* Black text color */
}

.success-dark-text {
  color: #000000 !important; /* Black text color */
}